@{
    ViewData["Title"] = "Blog";
    List<Blog> blogList = Model;
    var maxPageCounts = Math.Ceiling((decimal)ViewBag.BlogCounts / 4);
    var currentPage = ViewBag.CurrentPage;
}

<div class="container">
    <div class="row" style="min-height:350px;">
        <div class="table-responsive pt-3">
            <table class="table table-bordered" style="background-color:#f4f5f7">
                <thead>
                    <tr class="table-primary text-center">
                        <th style="background-color: #f4f5f7; border:1px solid #007bff;">#</th>
                        <th style="background-color: #f4f5f7; border:1px solid #007bff;">Image</th>
                        <th style=" background-color: #f4f5f7; border:1px solid #007bff;">Name</th>
                        <th style=" background-color: #f4f5f7; border:1px solid #007bff;">Context</th>
                        <th style=" background-color: #f4f5f7; border:1px solid #007bff;">Date</th>
                        <th style="background-color: #f4f5f7; border:1px solid #007bff;">Operation</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in blogList)
                    {
                        <tr class="table-info text-center">
                            <td style="width:50px; background-color: #f4f5f7;border:1px solid #007bff;">@item.Id</td>
                            <td style="width:100px;padding:0;background-color: #f4f5f7;border:1px solid #007bff;"><a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id"><img class="img-fluid" src="~/img/@item.Image" style="width: 100%;height: 100%;border-radius: 0; padding:5px;" /></a></td>
                            <td style="width:200px;background-color: #f4f5f7;border:1px solid #007bff;"><a style="text-decoration:none" asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a></td>
                            <td style="min-width:200px;background-color: #f4f5f7;border:1px solid #007bff;">@item.Context</td>
                            <td style="width:100px;background-color: #f4f5f7;border:1px solid #007bff;">@item.Datetime.ToShortDateString()</td>
                            <td style="width:200px; color:whitesmoke; background-color: #f4f5f7;border:1px solid #007bff;">
                                <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary btn-rounded btn-fw">Detail</a>
                                <a class="btn btn-success btn-rounded btn-fw" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-danger btn-rounded btn-fw">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li class="page-item" style="background-color: white;">
                    @{
                        if (currentPage > 1)
                        {
                            <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage-1)">Previous</a>
                        }
                        else
                        {
                            <a class="page-link" asp-action="Index" style="pointer-events:none">Previous</a>
                        }
                    }
                </li>
                @{


                    for (var i = 1; i <= maxPageCounts; i++)
                    {
                        <li class="page-@i" style="background-color:#e9ecef;"><a class="page-link" asp-action="Index" asp-route-page="@i" style="@((currentPage == i)? "background-color:blue; color:white;" : "")">@i</a></li>
                    }
                }
                <li class="page-item" style="background-color: white;">
                    @{
                        if (currentPage < maxPageCounts)
                        {
                            <a class="page-link" asp-action="Index" asp-route-page="@(currentPage + 1)">Next</a>
                        }
                        else
                        {
                            <a class="page-link" style="pointer-events:none">Next</a>
                        }
                    }
                </li>
            </ul>
        </nav>
    </div>
</div>
