@{
    ViewData["title"] = "blog";
    Layout = "~/areas/adminpanel/views/shared/_adminlayout.cshtml";
    List<Blog> blogList = Model;
    var maxPageCounts = Math.Ceiling((decimal)ViewBag.BlogCounts / 4);
    var currentPage = ViewBag.CurrentPage;
}

<div class="container">
    <div class="row">
        <div class="table-responsive pt-3">
            <table class="table table-bordered">
                <thead>
                    <tr class="table-primary">
                        <th>#</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Context</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in blogList)
                    {
                        <tr class="table-info">
                            <td>@item.Id</td>
                            <td><img class="img-fluid" src="~/img/@item.Image" /></td>
                            <td><a style="text-decoration:none" asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a></td>
                            <td>@item.Context</td>
                            <td>@item.Datetime.ToShortDateString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item">
                    @{
                        if(currentPage > 1)
                        {
                            <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage-1)">Previous</a>
                        }
                        else
                        {
                             <a class="page-link" asp-action="Index" style="pointer-events:none">Previous</a>
                        }
                    }
                </li>
                @{
                   

                    for (var i = 1; i <= maxPageCounts; i++)
                    {
                        <li class="page-@i"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
                    }
                }
                <li class="page-item">
                    @{
                        if(currentPage < maxPageCounts)
                        {
                            <a class="page-link" asp-action="Index" asp-route-page="@(currentPage + 1)">Next</a>
                        }
                        else
                        {
                            <a class="page-link" style="pointer-events:none">Next</a>
                        }
                    }
                </li>
            </ul>
        </nav>
    </div>
</div>
